@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scrolling and top padding for sticky header */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* header height + margin */
}

.h-85-vh {
  height: 85vh;
}

.bg-green-500 {
  background: #2563eb;
}

.bg-green-600 {
  background: #2563eb;
}

.active-link {
  @apply text-blue-600 dark:text-blue-400 font-semibold relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  transition: width 0.3s ease;
}
